<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Club House 101", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   posts_path %></li>
            <% if user_logged_in? %>
              <li><%= link_to 'New Post', new_post_path %></li>
              <li><%= link_to "Log out", logout_path, method: :delete%></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>